@import "../../scss/helpers/variables";
@import "../../scss/helpers/mixins";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.table {
  border: 1px solid #ccc;
  border-radius: 4px;
}
