@import "./src/scss/helpers/variables";
@import "./src/scss/helpers/mixins";

.root {
  display: inline-block;
  margin-left: 4px;
  width: 24px;
  height: 24px;
  vertical-align: bottom;
  background-image: url("#{$img-path}sound.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
