@import "./src/scss/helpers/variables";
@import "./src/scss/helpers/mixins";

.root {
  display: inline-block;
  width: 71px;
  height: 18px;
  background-image: url("#{$img-path}level-study.svg");
  background-repeat: no-repeat;

  &.low {
    background-position: 0 -144px;
  }

  &.medium {
    background-position: -72px -144px;
  }

  &.high {
    background-position: -144px -144px;
  }

  &.perfect {
    background-position: -216px -144px;
  }
}
