@import "./src/scss/helpers/variables";
@import "./src/scss/helpers/mixins";

.root {
  position: fixed;
  right: 8px;
  bottom: 8px;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 50%);
  background-color: #fff;
}

.item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}
